<div class="card">
    <div class="card-header" [innerText]="orderNumber">
    </div>
    <div class="card-body">
        <h5 class="card-title" [innerText]="order.productTitle">
        </h5>
        <p class="card-text" [innerText]="'Social activist twitter handler: ' + order.twitterHandle"></p>
        <p class="card-text" [innerText]="'Email: ' + order.email"></p>
        <p class="card-text" [innerText]="'Address: ' + order.address"></p>
        <p class="card-text" [innerText]="'Phone number: ' + order.phoneNumber"></p>
        <p class="card-text" [innerText]="'Order status: ' + order.transactionState"></p>
        <button type="button" class="btn btn-secondary" [disabled]="isButtonDisabled" (click)="onClick(order.id)">Change
            order status for 'Shipped'
        </button>
    </div>
</div>
<br />
