<div>
  <label for="unique" class="form-label" [innerHTML]="label"></label>
<select
  class="form-select"
  [id]="unique"
  [name]="unique"
  [(ngModel)]="selectedOption"
  (ngModelChange)="onChange(selectedOption)"
  [attr.aria-label]="label">
    <option
      *ngFor="let option of options; index as i"
      [ngValue]="option"
      [innerHTML]="option.hashtag">
    </option>
</select>
</div>

      <!-- <option
        *ngFor="let option of options; index as i"
        [value]="option.id"
        [selected]="option.id === selectedCampaignId"
        [innerHTML]="option.hashtag"></option> -->
