@page "/home"
@attribute [Authorize(Roles = "ProLobbyOwner")]
<h3 class="text-primary">Home</h3>
<PageTitle>Home</PageTitle>

<div class="mb-3 display-4">
    Hello! Please choose report.
</div>

@code {

}
