@attribute [Route(Page.Login)]


<AuthorizeView Roles=@Roles.ProlobbyOwner>
    <Authorized>
    </Authorized>
    <NotAuthorized>
        <PageTitle>Sign In</PageTitle>

        <div class="d-flex flex-column align-items-center">
            <div class="mb-3 col-4 display-4">
                Please log in
            </div>

            <EditForm Model="_user" class="col-4" OnValidSubmit="OnLoginClick" Context="LoginBtnCtx">
                <DataAnnotationsValidator />
                <div class="">
                    <input type="text" class="form-control" id="login"
                           placeholder="Login" @bind-value="@_user.Login" />
                    <ValidationMessage For="@(() => _user.Login)" />
                </div>

                <div class="mt-1 mb-3">
                    <input type="password" class="form-control" id="password"
                           placeholder="Password" @bind-value="@_user.Password" />
                    <ValidationMessage For="@(() => _user.Password)" />
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary my-1 col-12">Login</button>
                </div>
            </EditForm>

            @if (loading)
            {
                <Loading />
            }
            
            @if (ShowAuthError)
            {
                <div class="col-4 alert alert-danger text-wrap" role="alert">
                    @Error
                </div>
            }
        </div>

        
    </NotAuthorized>
</AuthorizeView>

@code {

}
