<br/>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.campaigns">All campaigns</button></div>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.orders">Your orders</button></div>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.donateToCampaign">Donate your product to campaign</button></div>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.donateNewProduct">Register new product for donation</button></div>
