<div><button type="button" class="btn btn-secondary" [routerLink]="States.campaigns">Check all campaigns</button></div>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.donateToCampaign">Donate your product to campaign</button></div>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.donateNewProduct">Add a new product for donation</button></div>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.orders">Check your orders</button></div>
<div><button type="button" class="btn btn-secondary" [routerLink]="States.changeState">Change order status for shipped</button></div>


