@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView Roles="ProLobbyOwner">
    <Authorized>
        <div class="bg-dark">
            <NavMenu />
        </div>
    </Authorized>
    </AuthorizeView>

    <main>
        <article class="content px-4 bg-light">
            @Body
        </article>
    </main>
</div>
