<h4 class="display-4 border-4 border-bottom text-primary">Donate to campaign</h4>

<div *ngIf="toggle; else donationAdded">
    <div>
        <label for="campaignSelect" class="form-label" [innerHTML]="campaignLabel"></label>
        <select class="form-select" id="campaignSelect" name="campaignSelect" [(ngModel)]="selectedCampaign"
            [attr.aria-label]="campaignLabel" (ngModelChange)="onCampaignSelected()">
            <option *ngFor="let campaignOption of campaignOptions$ | async; index as i" [ngValue]="campaignOption"
                [innerHTML]="campaignOption.hashtag">
            </option>
        </select>
    </div>

    <div>
        <label for="productSelect" class="form-label" [innerHTML]="productLabel"></label>
        <select class="form-select" id="productSelect" name="productSelect" [(ngModel)]="selectedProduct"
            [attr.aria-label]="productLabel" (ngModelChange)="onProductSelected()">
            <option *ngFor="let productOption of productOptions$ | async; index as i" [ngValue]="productOption"
                [innerHTML]="productOption.title"></option>
        </select>
    </div>

    <div class="mb-3">
        <label for="productQtyInput" class="form-label">Input donated product qty</label>
        <input type="number" class="form-control" id="productQtyInput" [formControl]="productQtyControl"
            [value]="productQty">
    </div>
    <div *ngIf="productQtyControl.invalid && productQtyControl.touched" class="alert alert-danger">
        Qty must be a natural number
    </div>

    <button type="submit" class="btn btn-secondary" (click)="onSubmit(selectedCampaign, selectedProduct, productQty)"
        [disabled]="!formValid || productQtyControl.invalid">Submit</button>
</div>

<ng-template #donationAdded>
    <br />
    <div>
        <h6 class="display-6 border-3 border-bottom text-secondary">
        The donation was successfully added!
        </h6>
    </div>
    <div class="d-grid gap-2 col-3">
        <button type="submit" class="btn btn-secondary" (click)="onSubmitMore()">Donate more!</button>
    </div>
    <br />
</ng-template>
