<ng-container *ngIf="isRowAvailable">
    <div class="d-flex align-items-center border-bottom">
        <div class="m-1 col-2">
            <div [innerText]="row!.productTitle"></div>
        </div>
        <div class="m-1 col-2">
            <div [innerText]="row!.companyName"></div>
        </div>
        <div class="m-1 col-1">
            <div [innerText]="row!.productPrice"></div>
        </div>
        <div class="m-1 col-1">
            <div [innerText]="row!.productQty"></div>
        </div>
        <div class="m-1 col-2">
            <button type="button" class="btn btn-primary mx-1"
                [disabled]="toggle"
                (click)="onClick(TransactionStates.Ordered)"
                >Buy</button>
            <button type="button" class="btn btn-primary mx-1"
                [disabled]="toggle"
                (click)="onClick(TransactionStates.Donated)"
                >Donate</button>
        </div>
    </div>
</ng-container>
