
<br />
<div *ngIf="toggle; else loggedIn">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="user.username" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="user.password" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" (click)="onLoginClick()">Login</button>
        <!-- <button class="btn btn-primary ml-3" (click)="onClearClick()">Clear</button> -->
    </div>
</div>
<ng-template #loggedIn>
    <br />
    <div>
        You logged in successfully!
    </div>
    <div>
        <button type="submit" class="btn btn-primary" (click)="onContinue()">Continue</button>
    </div>
    <br />
</ng-template>
