<br />
<div *ngIf="toggle">
    <div class="d-flex flex-column align-items-center">
        <div class="mb-3 col-6 display-4">
            Please log in
        </div>
        <div class="col-6">
            <label for="login" class="form-label" ></label>
            <input type="text" class="form-control" id="login"
                placeholder="Login" [(ngModel)]="user.login" />
        </div>

        <div class="mt-1 mb-3 col-6">
            <!-- <label for="password" class="form-label"></label> -->
            <input type="password" class="form-control" id="password"
                placeholder="Password" [(ngModel)]="user.password" />
        </div>

        <div class="mb-3 col-6 d-flex flex-column">
            <button class="btn btn-primary my-1" (click)="onLoginClick()">Login</button>
            <button class="btn btn-info my-1" [routerLink]="States.signUp" (click)="onSignUpClick()">Sign Up</button>

        </div>
    </div>
</div>


