<div class="biggest-wrapper">


    <div class="d-flex">
        <div class="bg-dark" *ngIf="isLoggedIn && (userTypeId == BusinessOwner)">
            <bo-menu-bo></bo-menu-bo>
        </div>
        <div class="bg-dark" *ngIf="isLoggedIn && (userTypeId == NonprofitOrganization)">
            <bo-menu-np></bo-menu-np>
        </div>
        <div class="bg-dark" *ngIf="isLoggedIn && (userTypeId == SocialActivist)">
            <bo-menu-sa></bo-menu-sa>
        </div>
        <div class="container-fluid">

            <bo-success></bo-success>
            <router-outlet></router-outlet>
            <bo-error></bo-error>
            <bo-loading></bo-loading>

        </div>
    </div>

</div>
