<div class="biggest-wrapper">
    <bo-error></bo-error>
    <bo-success></bo-success>
    <bo-loading></bo-loading>

    <div class="d-flex">
        <div class="col-3" *ngIf="isLoggedIn && (userTypeId == BusinessOwner)">
            <bo-menu-bo></bo-menu-bo>
        </div>
        <div class="col-3" *ngIf="isLoggedIn && (userTypeId == NonprofitOrganization)">
            <bo-menu-np></bo-menu-np>
        </div>
        <div class="col-3" *ngIf="isLoggedIn && (userTypeId == SocialActivist)">
            <bo-menu-sa></bo-menu-sa>
    </div>
        <div [ngClass]="isLoggedIn ? 'col-9' : 'col-12'">
            <br />
            <router-outlet></router-outlet>
            <br />
        </div>
    </div>

</div>
