<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Social activist page</a>
        <button title="Navigation menu" class="navbar-toggler">
        </button>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div>
            <button
                type="button"
                class="btn btn-dark"
                [routerLink]="States.balance"
                >
                Check balance
            </button>
        </div>
        <div>
            <button
                type="button"
                class="btn btn-dark"
                (click)="onLogoutClick()"
                >
                Logout
            </button>
        </div>
    </nav>
</div>
